<template>
  <div>
    <header-view />
    <div class="mx-4 mt-6 d-flex">
      <div class="d-flex flex-column">
        <div class="contact">3.Contact Information</div>
        <div class="contact2">Final Step</div>
      </div>
      <div class="ml-auto">
        <v-img src="../../assets/loading3.png" alt="" class="loading" />
      </div>
    </div>
    <div class="mx-4 mt-6">
      <span class="sp">Please fill in your contact details:</span>
    </div>

    <div class="formcontact px-4 mx-4">
      <v-form>
        <v-container>
          <v-row>
            <v-col class="pb-0 pt-4 px-0">
              <span class="sp">First Name</span>
              <input
                type="text"
                id="fname"
                v-model="fname"
                name="firstname"
                placeholder="John"
                maxlength="50"
              />
              <p id="err-fname" v-html="err_fname" class="error-validate"></p>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="pb-0 pt-4 px-0">
              <span class="sp">Last Name</span>
              <input
                type="text"
                id="lname"
                v-model="lname"
                name="lastname"
                placeholder="Kim"
                maxlength="50"
              />
              <p id="err-lname" v-html="err_lname" class="error-validate"></p>
            </v-col>
          </v-row>

          <v-row>
            <v-col class="pb-0 pt-4 px-0">
              <span class="sp">Contact Number</span>
              <div class="d-flex">
                <vue-phone-number-input
                  v-model="vuePhone.phone"
                  v-bind="vuePhone.props"
                  maxlength="15"
                />
              </div>
              <p
                id="err-contactNumber"
                v-html="err_contactNumber"
                class="error-validate"
              ></p>
            </v-col>
          </v-row>
        </v-container>
      </v-form>

      <v-row class="mt-2">
        <v-col :cols="1" class="mr-4">
          <input
            type="checkbox"
            class="checkbox"
            v-model="checkCheckbox"
            value="checked"
        /></v-col>
        <v-col>
          <p>
            I confirm that the above information is accurate and I have read and
            understood the requirements and expectations of entering the Silicon
            Stack premises.
          </p>
        </v-col>
      </v-row>
    </div>

    <template>
      <div class="d-flex justify-center btn mt-6">
        <router-link to="/health" class="router-back">
          <v-btn class="btn-back mx-4 my-4">Back</v-btn></router-link
        >
        <router-link
          :to="checkAnswer() ? '/success' : '/failed'"
          :event="checkValidateForm() ? 'click' : ''"
          class="router-back"
        >
          <v-btn
            :disabled="!checkValidateForm()"
            class="btn-next my-4 mr-4"
            color="primary"
            >Submit</v-btn
          >
        </router-link>
      </div>
    </template>
  </div>
</template>
<script>
import state from "@/store/state";
import { mapGetters } from "vuex";
import HeaderView from "../UI/HeaderView.vue";
export default {
  components: { HeaderView },
  data() {
    return {
      list: {},

      fname: "",
      lname: "",
      err_fname: "",
      err_lname: "",
      err_contactNumber: "",
      checkCheckbox: null,

      vuePhone: {
        phone: " ",
        props: {
          clearable: true,
          fetchCountry: true,
          preferredCountries: ["US", "GB"],
          noExample: false,
          translations: {
            countrySelectorLabel: "Country code",
            countrySelectorError: "Error",
            phoneNumberLabel: "Enter your phone",
            example: "Example:",
          },
        },
      },
    };
  },

  computed: {
    ...mapGetters([
      "countries",
      "countryCode",
      "countryCity",
      "countryQuestion",
    ]),
  },

  methods: {
    checkValidateForm: function () {
      var firstName = this.fname;
      var lastName = this.lname;
      var contactNumber = this.vuePhone.phone;
      var checkBox = this.checkCheckbox;
      var check = true;

      if (checkBox == null) {
        check = false;
      }

      if (firstName.length < 1) {
        check = false;
        this.err_fname = "Please enter your first name";
      } else if (firstName.length > 50) {
        check = false;
        this.err_fname = "Maximun length 50.";
      } else {
        this.err_fname = "";
      }

      if (lastName.length < 1) {
        check = false;
        this.err_lname = "Please enter your last name";
      } else if (lastName.length > 50) {
        check = false;
        this.err_lname = "Maximun length 50.";
      } else {
        this.err_lname = "";
      }

      if (contactNumber.length < 1) {
        check = false;
        this.err_contactNumber = "Please enter your contact number";
      } else if (contactNumber.length > 15) {
        check = false;
        this.err_contactNumber = "Maximun length 15.";
      } else {
        this.err_contactNumber = "";
      }

      return check;
    },
    checkAnswer: function () {
      var countryId = state.countryCity.city.countryId;
      var answerList = state.countries[countryId - 1].questionList; //array obj
      var checkSuccess = false;

      if (
        answerList[0].answer === state.answer.answer1 &&
        answerList[1].answer === state.answer.answer2 &&
        answerList[2].answer === state.answer.answer3
      ) {
        checkSuccess = true;
      }

      return checkSuccess;
    },
  },
};
</script>

<style scoped>
.location {
  font-size: 12px;
}
.bordercolor {
  background: #e9e9f0;
  border-bottom: 1px solid #eaedf0;
  height: 57px;
}

.textcolor {
  color: #5c6c7f;
}
.sp {
  font-size: 16px;
}

.btn {
  height: 72px;
  border-top: 1px solid #eaedf0;
  width: 100%;
}
.btn-back {
  width: 163px;
  height: 40px;
}
.btn-next {
  width: 163px;
  height: 40px;
}
.router-back {
  text-decoration: none;
}
.select-question {
  background-color: #f6f6fa;
}

.loading {
  width: 54px;
  height: 54px;
}
.contact {
  font-size: 20px;
  font-weight: 500;
  color: #003180;
}
.contact2 {
  color: #5c6c7f;
  font-size: 14px;
}
.sp {
  color: #475362;
  font-size: 14px;
}
.formcontact {
  background: #f6f6fa;
}

input[type="text"],
select {
  width: 100%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}
input[type="tel"],
select {
  width: 100%;
  height: 40px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}
#number1 {
  background-image: url("../../assets/arrow.png");
  background-position: right 5% top 50%;
  padding: 0;
  padding-left: 12px;
}
#number2 {
  padding: 0;
  padding-left: 12px;
}
#fname {
  padding: 0;
  padding-left: 12px;
}
#lname {
  padding: 0;
  padding-left: 12px;
}
.labelCheckBox {
  font-size: 12px;
}
.checkbox {
  width: 24px;
  height: 24px;
}
#MazPhoneNumberInput .input-selector__input {
  margin: 0 !important;
  margin-right: 2rem;
}
#MazPhoneNumberInput .input-tel__input {
  margin: 0;
}
.error-validate {
  color: red;
  font-size: 10px;
}
</style>
