<template>
  <div>
    <header-view />
    <div class="imgfail">
      <v-img src="../../assets/failed.png" alt="" />
    </div>
    <div>
      <p class="textP">Check-In Failed!</p>
      <p class="textP2">
        To prevent the possible spread of COVID and ensure the safety of you and
        your colleagues, you’re not eligible to enter our Silicon Stack site at
        this time.
      </p>
      <p class="textP2">
        Please call your Silicon Stack Line Manager or Meeting Host immediately
        to advise.
      </p>
    </div>
    <div class="btn-btn">
      <button class="btnDone">Done</button>
    </div>
  </div>
</template>
<script>
import HeaderView from "../UI/HeaderView.vue";
export default {
  components: { HeaderView },
  data() {
    return {};
  },
};
</script>
<style scoped>
.location {
  font-size: 12px;
}
.bordercolor {
  background: #e9e9f0;
  border-bottom: 1px solid #eaedf0;
  height: 57px;
}
.read {
  font-size: 16px;
}
.textcolor {
  color: #5c6c7f;
}
.textoffice {
  margin-top: 88px;
}
.pdf {
  width: 220px;
  height: 220px;
  margin-bottom: 120px;
}

.btn {
  height: 72px;
  border-top: 1px solid #eaedf0;
  width: 100%;
}
.btn-back {
  width: 163px;
  height: 40px;
}
.btn-next {
  width: 163px;
  height: 40px;
}
.router-back {
  text-decoration: none;
}
.imgfail {
  width: 138px;
  height: 138px;
  margin: 0;
  margin-top: 50px;

  margin-left: 114px;
}
.textP {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  font-weight: bold;
  font-size: 20px;
}
.textP2 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 36px;
  font-size: 16px;
}

.btn-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btnDone {
  border: 1px solid;
  width: 157px;
  height: 40px;
  border-radius: 2px;
}
</style>
