<template>
  <div>
    <header-view />
    <div class="img-imgSuc">
      <v-img src="../../assets/success.png" alt="" class="imgSuccess" />
    </div>
    <div>
      <p class="textP">Check-In Successful!</p>
      <p class="textP2">
        Thank you for completing. You can now safely enter the office. Please be
        sure to check-in on each office visit. Have a great day!
      </p>
    </div>
    <div class="btn-btn">
      <button class="btnDone">Done</button>
    </div>
  </div>
</template>
<script>
import HeaderView from "../UI/HeaderView.vue";
export default {
  components: { HeaderView },
  data() {
    return {};
  },
};
</script>
<style scoped>
.location {
  font-size: 12px;
}
.bordercolor {
  background: #e9e9f0;
  border-bottom: 1px solid #eaedf0;
  height: 57px;
}
.read {
  font-size: 16px;
}
.textcolor {
  color: #5c6c7f;
}
.textoffice {
  margin-top: 88px;
}
.pdf {
  width: 220px;
  height: 220px;
  margin-bottom: 120px;
}

.btn {
  height: 72px;
  border-top: 1px solid #eaedf0;
  width: 100%;
}
.btn-back {
  width: 163px;
  height: 40px;
}
.btn-next {
  width: 163px;
  height: 40px;
}
.router-back {
  text-decoration: none;
}
.img-imgSuc {
  display: flex;
  justify-content: center;
  margin: 32px 51px;
}
.imgSuccess {
  width: 270.1px;
  height: 222px;
}
.textP {
  display: flex;
  justify-content: center;

  font-weight: bold;
  font-size: 20px;
}
.textP2 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 36px;
  font-size: 16px;
}

.btn-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.btnDone {
  border: 1px solid;
  width: 157px;
  height: 40px;
  border-radius: 2px;
}
</style>
