<template>
  <div>
    <div class="pl-4 pt-3 d-flex flex-row bordercolor">
      <div>
        <router-link to="/">
          <v-img src="../../assets/image 5.png" alt=""
        /></router-link>
      </div>
      <div class="d-flex flex-column location ml-auto pr-4">
        <div class="ml-auto d-flex justify-content-end">
          <p
            v-for="code in countryCode"
            :key="code.index"
            class="mb-0 float-end textcolor"
          >
            {{ code.code }}&nbsp; - &nbsp;
          </p>
          <p
            v-for="city in countryCity"
            :key="city.index"
            class="mb-0 float-end textcolor"
          >
            {{ city.name }}
          </p>

          <!-- cách gọi mảng con thứ 2 -->

          <!-- <div v-for="c in countryCode" :key="c.index">
            <div v-for="z in c.facilityList" :key="z.index">{{ z.name }}</div>
          </div> -->
        </div>
        <div class="d-flex flex-row textcolor">
          <p v-show="date" class="mb-0">{{ date }}</p>
          <p v-show="time">&nbsp; {{ time }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      date: "",
      time: "",
    };
  },
  async mounted() {
    this.date = this.printDate();
    this.time = this.printTime();
  },
  computed: {
    ...mapGetters(["countryCode", "countryCity"]),
  },
  methods: {
    printDate: () => {
      return new Date().toLocaleDateString();
    },
    printTime: () => {
      return new Date().toLocaleTimeString();
    },
  },
};
</script>
<style scoped>
.location {
  font-size: 12px;
}
.bordercolor {
  background: #e9e9f0;
  border-bottom: 1px solid #eaedf0;
  height: 57px;
}

.textcolor {
  color: #5c6c7f;
}
</style>
