<template>
  <div>
    <header-view />
    <div class="mx-4 mt-6">
      <v-img src="../../assets/loading1.png" alt="" />
      <div
        class="d-flex flex-column justify-content-center align-content-center align-items-center mx-14 textoffice"
      >
        <div class="read textcolor">
          Read and acknowledge the Office Guidelines
        </div>

        <a
          @click="clickViewFile()"
          href="https://assets.kpmg/content/dam/kpmg/ie/pdf/2020/05/6232_COVID19_Return_to_Work_PDF_May_2020.pdf"
          target="_blank"
        >
          <v-img class="pdf mt-4" src="../../assets/openPDF.png" alt=""
        /></a>
      </div>
    </div>

    <template>
      <div class="d-flex justify-center btn mt-6">
        <router-link to="/location" class="router-back">
          <v-btn class="btn-back mx-4 my-4">Back</v-btn></router-link
        >
        <router-link
          to="/health"
          :event="checkReadFile ? 'click' : ''"
          class="router-back"
        >
          <v-btn
            :disabled="!checkReadFile"
            class="btn-next my-4 mr-4"
            color="primary"
            >Next</v-btn
          >
        </router-link>
      </div>
    </template>
  </div>
</template>
<script>
import HeaderView from "../UI/HeaderView.vue";
export default {
  components: { HeaderView },
  data() {
    return {
      list: {},

      btnDisable: true,
      checkReadFile: false,
    };
  },

  methods: {
    clickViewFile() {
      this.checkReadFile = true;
    },
  },
};
</script>
<style scoped>
.location {
  font-size: 12px;
}
.bordercolor {
  background: #e9e9f0;
  border-bottom: 1px solid #eaedf0;
  height: 57px;
}
.read {
  font-size: 16px;
}
.textcolor {
  color: #5c6c7f;
}
.textoffice {
  margin-top: 88px;
}
.pdf {
  width: 220px;
  height: 220px;
  margin-bottom: 120px;
}

.btn {
  height: 72px;
  border-top: 1px solid #eaedf0;
  width: 100%;
}
.btn-back {
  width: 163px;
  height: 40px;
}
.btn-next {
  width: 163px;
  height: 40px;
}
.router-back {
  text-decoration: none;
}
</style>
