<!-- <template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'HomeView',
  components: {
    HelloWorld
  }
}
</script> -->
<!-- 
<template>
  <v-app>
    <v-main >
      <IntroSite />
    </v-main>
  </v-app>
</template>

<script>
// @ is an alias to /src
import IntroSite from "./Intro/IntroSite.vue";

export default {
  name: "HomeView",
  components: {
    IntroSite,
  },
};
</script> -->

<!-- <style>
.border {
  border: 1px solid;
  width: 400px;
  /* height: 750px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 35%;
}
</style> -->
