<template>
  <div class="border">
    <v-app>
      <v-main>
        <router-view />
      </v-main>
    </v-app>
  </div>
</template>
<script>
export default {
  name: "App",
};
</script>
<style>
.border {
  border: 1px solid;
  width: 375px;
  /* height: 750px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 35%;
}
</style>
