<template>
  <div>
    <header-view />
    <div>
      <h5 class="title px-4 pt-6">
        To begin, please select your country and facility location
      </h5>
      <p class="text-select px-4 pt-5">Select your country:</p>
    </div>

    <div class="d-flex ml-4">
      <div
        v-for="country in countries"
        :key="country.id"
        @click="chooseCountry([country, list[0]])"
      >
        <div class="country-list mr-4">
          <div
            @click="changeCountry(country)"
            class="d-flex flex-column justify-center align-center"
          >
            <v-img
              :src="require('@/assets/' + country.code + '.png')"
              class="img mt-4 mx-4"
            />
            <span class="text-span mt-1 mb-2">{{ country.name }}</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <template>
        <v-container class="select-city mt-4 pl-4 pt-4" fluid>
          <span class="textspan">Select the facility you are entering:</span>
          <v-radio-group v-if="list.length > 0" :value="list[0].name">
            <v-radio
              v-for="citis in list"
              :key="citis.id"
              :label="`${citis.name}`"
              :value="citis.name"
              @change="chooseCity(citis)"
            ></v-radio>
            <!-- onchange event -->
          </v-radio-group>
        </v-container>
      </template>
    </div>

    <v-container class="select-status mt-4 pl-4 pt-4" fluid>
      <span class="textspan">Select the status:</span>

      <v-radio-group v-model="radioGroup2">
        <v-radio
          v-for="people in peoples"
          :key="people.id"
          :label="`${people.p}`"
          :value="people.p"
        ></v-radio>
      </v-radio-group>
    </v-container>

    <template>
      <div class="d-flex justify-center btn mt-6">
        <router-link to="/" class="router-back">
          <v-btn class="btn-back mx-4 my-4">Back</v-btn></router-link
        >
        <router-link
          to="/office"
          :event="list.length > 0 ? 'click' : ''"
          class="router-back"
        >
          <v-btn
            :disabled="!list.length"
            class="btn-next my-4 mr-4"
            color="primary"
            >Next</v-btn
          >
        </router-link>
      </div>
    </template>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
import HeaderView from "../UI/HeaderView.vue";
export default {
  components: { HeaderView },
  data() {
    return {
      radioGroup2: "Visitor",
      peoples: [
        { id: 1, p: "Visitor" },
        { id: 2, p: "Employee" },
      ],
      list: {},
    };
  },
  async mounted() {
    await this.$store.dispatch("getCountry");
  },

  computed: {
    ...mapGetters(["countries"]),
  },

  methods: {
    changeCountry(country) {
      this.list = country.facilityList;
    },

    ...mapMutations(["chooseCountry", "chooseCity"]),
  },
};
</script>
<style scoped>
.location {
  font-size: 12px;
}
.bordercolor {
  background: #e9e9f0;
  border-bottom: 1px solid #eaedf0;
  height: 57px;
}
.title {
  font-size: 20px;
  color: #003180;
  font-weight: 500;
}
.textcolor {
  color: #5c6c7f;
}
.textspan {
  color: #475362;
}
.text-select {
  font-size: 16px;
}
.country-list {
  width: 80px;
  height: 80px;
  background: #f6f6fa;
}
.img {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 31px;
}
.text-span {
  font-size: 12px;
}
.select-city {
  background-color: #f6f6fa;
  height: 296px;
}
.radio-custom {
  width: 24px;
  height: 24px;
}
.select-status {
  background-color: #f6f6fa;
  height: 136px;
}
.btn {
  height: 72px;
  border-top: 1px solid #eaedf0;
  width: 100%;
}
.btn-back {
  width: 163px;
  height: 40px;
}
.btn-next {
  width: 163px;
  height: 40px;
}
.router-back {
  text-decoration: none;
}
</style>
