<template>
  <div class="mt-16">
    <div class="d-flex flex-column justify-center align-center">
      <v-img src="../../assets/image 3.png" alt="" />
      <v-img src="../../assets/Group 1280.png" alt="" class="mt-6" />
    </div>
    <div>
      <h2 class="texth2 px-4 pt-10">
        Welcome and thanks for checking in with Silicon Stack!
      </h2>
      <div class="textdiv px-4 pt-3">
        In light of COVID-19 there is a mandatory Check-In System in place, to
        ensure maximum safety for everyone who comes on premise. This check-in
        system is required for both visitors and employees and you will be
        required to check-in on each visit to the premises.
      </div>
    </div>
    <router-link to="/location">
      <div class="d-flex justify-center pt-6 px-4">
        <v-btn color="primary" elevation="2" class="btn"> Get Started </v-btn>
      </div>
    </router-link>
    <div class="version text-muted pt-2">
      <p>Version 1.0.1</p>
    </div>
  </div>
</template>
<script></script>

<style scoped>
.texth2 {
  font-size: 20px;
}

.textdiv {
  font-size: 16px;
}

.btn {
  width: 92%;
  height: 40px;
}
.version {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
