<template>
  <div>
    <header-view />
    <div class="mx-4 mt-6">
      <v-img src="../../assets/loading2.png" alt="" />
    </div>
    <div class="mx-4 mt-6">
      <span class="sp">Please answer follow questions below:</span>
    </div>

    <template
      ><div v-for="question in countryCode" :key="question.index">
        <div
          v-for="desc in question.questionList"
          :key="desc.id"
          class="textspan"
        >
          <v-container class="px-4 pt-4 pb-0">
            <div class="select-question px-4">
              <span>{{ desc.desc }}</span>

              <v-radio-group>
                <v-radio
                  @change="chooseQuestion([desc.id, true])"
                  label="Yes"
                  value="yes"
                ></v-radio>
                <v-radio
                  @change="chooseQuestion([desc.id, false])"
                  label="No"
                  value="no"
                ></v-radio>
              </v-radio-group>
            </div>
          </v-container>
        </div>
      </div>
    </template>

    <template>
      <div class="d-flex justify-center btn mt-6">
        <router-link to="/office" class="router-back">
          <v-btn class="btn-back mx-4 my-4">Back</v-btn></router-link
        >
        <router-link
          to="/contact"
          :event="checkAnswer() ? 'click' : ''"
          class="router-back"
        >
          <v-btn
            :disabled="!checkAnswer()"
            class="btn-next my-4 mr-4"
            color="primary"
            >Next</v-btn
          >
        </router-link>
      </div>
    </template>
  </div>
</template>
<script>
import { mapGetters, mapMutations } from "vuex";
import HeaderView from "../UI/HeaderView.vue";
export default {
  components: { HeaderView },
  data() {
    return {
      list: {},

      checkRadio: false,
    };
  },

  computed: {
    ...mapGetters(["countryCode", "answer"]),
  },

  methods: {
    ...mapMutations(["chooseQuestion"]),
    checkAnswer: function () {
      var check = true;

      if (
        this.answer.answer1 == null ||
        this.answer.answer2 == null ||
        this.answer.answer3 == null
      ) {
        check = false;
      }

      return check;
    },
  },
};
</script>
<style scoped>
.location {
  font-size: 12px;
}
.bordercolor {
  background: #e9e9f0;
  border-bottom: 1px solid #eaedf0;
  height: 57px;
}

.textcolor {
  color: #5c6c7f;
}
.sp {
  font-size: 16px;
}

.btn {
  height: 72px;
  border-top: 1px solid #eaedf0;
  width: 100%;
}
.btn-back {
  width: 163px;
  height: 40px;
}
.btn-next {
  width: 163px;
  height: 40px;
}
.router-back {
  text-decoration: none;
}
.select-question {
  background-color: #f6f6fa;
}
</style>
